@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.slate.700);
  --foreground: theme(colors.slate.50);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  background-image: linear-gradient(
    320deg,
    theme(colors.orange.400),
    theme(colors.rose.600),
    theme(colors.fuchsia.900)
  );

  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  @apply rounded-xl border-[1px] border-white border-opacity-30 bg-white bg-opacity-20 p-2 shadow-sm;
}

.glass-header {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  @apply h-14 w-28 rotate-6 rounded-lg bg-slate-50 bg-opacity-10 shadow-lg;
}

.glass-bg {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  @apply rounded-2xl border-2 border-slate-50 border-opacity-20 bg-slate-200 bg-opacity-20 shadow-lg;
}

@keyframes bgWiggle {
  0% {
    background-position: 200% 200%;
  }
  50% {
    background-position: 200% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.bg-wiggle {
  background-size: 200% 200%;
  animation: bgWiggle 2s ease-in-out 0s infinite;
}
/* 
.card-🌈 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @apply rounded-xl border-2 border-gray-100/10 bg-[url("@/assets/images/Glassmorphism-Background.png")] bg-[length:200%_200%] bg-center text-slate-900/80 shadow-lg;
} */
